@model KarmaWebApp.Models.MainModel

@{
    ViewBag.Title = "Index2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h2>KarmaWeb.com</h2>
    <p class="lead">Build your Karma!</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-large">Go to Mobile Version &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Everybody needs help</h2>
        <p>
            Need an occassional ride to airport? Need to borrow some powertools for your weekend projecct? Use karmaweb.com to ask help from friends who are
            explicitely signed up to help!
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Friends love to help</h2>
        <p>People love to help friends.This app makes it easy to volunteer. By installing this app you are opting in to occasionally give ride to your friends. </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Our Promise</h2>
        <p>We hate apps posting on our behalf as much you do. We promise to never post on your wall.</p>
        <p><a class="btn btn-default" href="/Home/NewsTicker">Learn more &raquo;</a></p>
    </div>
</div>

