<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Karma Mobile!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,user-scalable=no">
    <meta name="MobileOptimized" content="640">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" rel="stylesheet">
    <script type='text/javascript' src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.9.1.min.js"></script>
    <script type='text/javascript' src="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
    <script type='text/javascript' src='http://ajax.aspnetcdn.com/ajax/knockout/knockout-3.0.0.js'></script>

    <!-- ticker -->
    <script type='text/javascript' src='../../Scripts/app/textticker.js'></script>

    @if (Model.useMock)
    {
        <script type='text/javascript' src='../../Scripts/jquery.mockjax.js'></script>
        <script type='text/javascript' src='../../Scripts/app/mockdata.js'></script>
    }
    
    <link rel="stylesheet" type="text/css" href="../../Content/app/appstyle.css">
    <script type='text/javascript' src='../../Scripts/app/apptypes.js'></script>

    <script>
        $(document).ready(function () {

            // setup textticker.
            applyTicker("textticker", [
                "a ride to airport this tuesday.     ",
                "to borrow some powertools for my weekend project.    ",
                "help feeding my cat for a day while I am gone.    ",
                "to borrow latest John Grisham book.   ",
                "help moving my stuff tommorrow.    "
            ]);

            KarmaTypes.KarmaViewModel.SetupKnockOut();
        });

        // A $( document ).ready() block.
        $(document).ready(function () {

            // hide details areas
            $('.friends-details, .inbox-details, .outbox-details').hide();

            // when a navbar link is clicked - collapse the menu.
            $(document).on('click', '.navbar-collapse.in', function (e) {
                if ($(e.target).is('a')) {
                    $(this).collapse('hide');
                }
            });

            /*
            $(document.body).on('click', '.details-close', function () {
                var closeElem = $(this).attr('data-close-elem');
                $(closeElem).slideUp();
            });
            */
        });
        $(function () {
            // enable close functionality for alerts created from javascript.
            $(".newalert").alert('close');

            // enable dismissal of alerts with javascript.
            $(".newalert").alert();

            // enable buttons
            $('.btn').button();
        });

    </script>
</head>

<body>

    <!--page-container-->
    <div class="page-container">

        <!-- top navbar -->

        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapsethis">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- <img class="navbar-brand" src="..\..\images\PiR2_logo_minimal_01.png" alt="KarmaWeb">-->
                <!-- <a class="navbar-brand" href="#"><img src="..\..\images\PiR2_logo_minimal_01.png"></a> -->
                <!-- <a class="brand" href="#"><img style="max-width: 100%; max-height: 40px" src="..\..\images\logo.png"></a> -->
                <a class="brand" href="#"><img style="max-height: 50px;padding:3px;" src="..\..\images\PiR2_logo_minimal_02.png"></a>

            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right" id="collapsethis">
                <ul class="nav navbar-nav">
                    <li data-bind="css: { active: activePannel() === 'you' }"> <a href="#you" class="" data-bind="click:  function(data,event) { $root.SelectPanel('you')}">you</a> </li>
                    <li data-bind="css: { active: activePannel() === 'friends' }"> <a href="#friends" class="" data-bind="click: function(data,event) { $root.SelectPanel('friends')}"><span class="badge pull-right header-data-badge" data-bind="text: MyFriends.Items().length">0</span>friends</a> </li>
                    <li data-bind="css: { active: activePannel() === 'inbox' }"> <a href="#inbox" class="" data-bind="click: function(data,event) { $root.SelectPanel('inbox')}"><span class="badge pull-right header-data-badge" data-bind="text: MyInbox.Items().length">0</span>inbox</a> </li>
                    <li data-bind="css: { active: activePannel() === 'outbox' }"> <a href="#outbox" class="" data-bind="click: function(data,event) { $root.SelectPanel('outbox')}"><span class="badge pull-right header-data-badge" data-bind="text: MyOutbox.Items().length">0</span>outbox</a> </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>

        <!-- /top navbar -->
        <!--.container-->
        <div class="col-sm-12">
            <div class="row row-offcanvas row-offcanvas-left">

                <!-- main area -->
                <div class="col-xs-12 col-sm-12" data-spy="scroll" data-target="#sidebar-nav">
                    <div id="mainalerts">
                    </div>
                    <!-- ask your friends for help pannel-->
                    <div id="you" class="karmapannel" data-bind="if: activePannel() === 'you'">
                        <h1 class="">you</h1>
                        <div class="panel panel-default">
                            <div class="panel-heading media" data-bind="with: Me">
                                <img data-bind="attr:{src: Pic}" class="pull-left">
                                <div data-bind="if: $root.requestOnPage() == 1">
                                    <div class="content-heading"><h4>You got Friends <span data-bind="text: FirstName + '!'">!</span></h4></div>
                                </div>
                                <div data-bind="if: $root.requestOnPage() == 2">
                                    <h4 class=""> You need <span data-bind="text: $root.requestText()">!</span></h4>
                                </div>
                            </div>
                            <div data-bind="if: requestOnPage() == 1">
                                <div class="panel-body">
                                    Everybody needs help and friends love to help each other. Karmaweb makes exchanging favors easy! It will contact
                                    your local <strong>karma friends</strong> and find somebody who can help. Don't worry we hate spam too. We won't
                                    post on facebook or send emails to your friends. Just type in what you need...
                                    <!--<form class="form">-->
                                    <div class="input-group text-center">
                                        <span class="input-group-addon">I Need</span>
                                        <input id="textticker" type="text" class="form-control input-lg" title="Don't worry. We hate spam, we wont post on facebook."
                                               placeholder="enter what you need..." data-bind="value: requestText">
                                    </div>
                                    <hr class="">

                                    <div data-bind="if: showRequestError()">
                                        <span class="label label-warning"> Are you kidding me...at least type something?</span>
                                    </div>
                                    <button class="btn btn-lg btn-primary pull-right" data-bind="click: GotoNextRequestPage" type="button">
                                        Next <span class="glyphicon glyphicon-chevron-right"></span>
                                    </button>
                                </div>
                            </div>
                            <div data-bind="if: requestOnPage() == 2">
                                <div class="panel-body">
                                    <div class="form-group">
                                        <label for="request_datetime">When do you need this help:</label>
                                        <input id="request_datetime" type="text" class="form-control input-lg" title="Your friends would like know about date/time"
                                               placeholder="Enter date by which you need this help" data-bind="value: requestDateTime">
                                    </div>
                                    <div class="form-group">
                                        <label for="request_location">Where do you need this help:</label>
                                        <input id="request_location" type="text" class="form-control input-lg" title="we will notify only friends closer to this location"
                                               placeholder="enter city,state. we will notify only friends living closer to this location" data-bind="value: request_location">
                                    </div>
                                    <hr class="">
                                    <button class="btn btn-default pull-left" data-loading-text="Reading..." data-bind="click:  function(data,event) { $root.UseCurrentLocation($element)}" type="button">
                                        User current location
                                    </button>

                                    <div class="btn-group pull-right">
                                        <button class="btn btn-lg btn-default" data-bind="click: GotoPrevRequestPage" type="button">
                                            <span class="glyphicon glyphicon-chevron-left"></span> Previous
                                        </button>
                                        <button class="btn btn-lg btn-primary" data-loading-text="Wait..." data-bind="click: function(data,event) { $root.CreateRequest($element)}" type="button">
                                            Submit
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="friends" class="karmapannel" data-bind="if: activePannel() === 'friends'">
                        <h1 class="">friends</h1>
                        <div class="row" data-bind="with: MyFriends">
                            <div class="col-sm-12">
                                <!-- Friends List -->
                                <div class="panel panel-default friends-list-panel">
                                    <div class="panel-heading">
                                        <h4 class="" data-bind="text: PanelHeader">Friends List:</h4>
                                    </div>
                                    <div class="panel-body" data-bind="if: Items().length > 0">
                                        <div class="list-group" data-bind="foreach: Items">
                                            <div class="friendinListContainer list-group-item" data-bind="css: { active: $parent.SelectedItem() == $data}, click: function(data,event) { $parent.ExpandItem(data, $element, '.friends-details')} ">
                                                <div class="media">
                                                    <img class="img-polaroid pull-left" data-bind="attr:{src: Pic}">
                                                    <h4 class="list-group-item-heading" data-bind="text: Name"></h4>
                                                    <p class="list-group-item-text"><span class="glyphicon glyphicon-chevron-down pull-right"></span>...</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                        </div>
                                    </div>
                                    <div class="panel-body" data-bind="if: Items().length  == 0">
                                        Sorry, none of your friends have joined KarmaWeb. KarmaWeb is a network of friends for helping each other.
                                        You can help yourself and your friends by inviting them to KarmaWeb. They will be glad you did!
                                        <div class="input-group text-center">
                                            <span class="input-group-addon">I Need</span>
                                            <textarea id="inviteFriends" class="form-control input-lg" title="Don't worry. We hate spam, we wont post on facebook."
                                                      placeholder="Hello friends, Please join karmaweb.!" data-bind="value: $root.inviteText"></textarea>
                                        </div>
                                        <hr class="">
                                        <button class="btn btn-lg btn-success pull-right" data-bind="click: function(){$root.InviteFriends($root);}" type="button">Invite</button>
                                    </div>

                                </div>

                            </div>
                            <div class="friends-details">
                                <!-- Friends Details -->
                                <div class="panel panel-default" data-bind="with: SelectedItem()">
                                    <div class="panel-body">
                                        <div class="realFriend" data-bind="ifnot: IsBlocked">
                                            if <span data-bind="text: FirstName"></span> is not really a "friend", you can block <span data-bind="text: hehimhis('him')"></span>.
                                            Once blocked <span data-bind="text: hehimhis('he')"></span> will not see any help requests from you and you will not
                                            see any requests from <span data-bind="text: hehimhis('him')"></span>. And don't worry we won't tell on you.
                                            <span data-bind="text: hehimhis('He')"></span> won't know  that you blocked <span data-bind="text: hehimhis('him')"></span>.
                                            <hr class="">
                                            <div class="btn-group pull-right">
                                                <button class="btn btn-danger" data-bind="click: BlockFriend">Block <span data-bind="text: FirstName"></span></button>
                                            </div>
                                        </div>
                                        <div class="blockedFriend" data-bind="if: IsBlocked">
                                            You have blocked <span data-bind="text: FirstName"></span>. that means you will not see any help
                                            requests from <span data-bind="text: hehimhis('him')"></span> nor will
                                            <span data-bind="text: hehimhis('he')"></span> see any of your help requests. if you change your mind
                                            you can unblock <span data-bind="text: hehimhis('him')"></span> anytime!
                                            <hr class="">
                                            <div class="btn-group pull-right">
                                                <button class="btn btn-success" data-bind="click: UnBlockFriend">UnBlock <span data-bind="text: FirstName"></span></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="inbox" class="karmapannel" data-bind="if: activePannel() === 'inbox'">
                        <h1 class="">inbox</h1>
                        <div class="row" data-bind="with: MyInbox">
                            <!--Inbox-->
                            <div class="col-sm-12">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="" data-bind="text: PanelHeader">Inbox:</h4>
                                    </div>
                                    <div class="panel-body">
                                        <div class="list-group" data-bind="foreach: Items">
                                            <div class="inboxListContainer list-group-item" data-bind="css: { active: $parent.SelectedItem() == $data}, click: function(data,event) { $parent.ExpandItem(data, $element, '.inbox-details')}">
                                                <div class="media">
                                                    <img class="img-polaroid pull-left" data-bind="attr:{src: From.Pic}">
                                                    <h4 class="list-group-item-heading" data-bind="text: Name"></h4>
                                                    <p class="list-group-item-text" data-bind="text: From.Name"><span class="glyphicon glyphicon-chevron-down pull-right"></span>...</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> <!--/Inbox-->

                            <div class="inbox-details">
                                <!-- InboxDetails -->
                                <div class="panel panel-default" data-bind="with: SelectedItem()">
                                    <div class="panel-body">
                                        <div class="pendingrequest" data-bind="if: Response() == 'none'">
                                            This is your chance to help <span data-bind="text: $data.From.FirstName"></span>. if you choose to help, we will notify
                                            <span data-bind="text: $data.From.hehimhis('him')"></span> about it. if <span data-bind="text: $data.From.hehimhis('he')"></span>
                                            hasn't gotten help already,  <span data-bind="text: $data.From.hehimhis('he')"></span> will accept your request and get back to you.
                                            if you choose to not help. its okay! We won't tell <span data-bind="text: $data.From.hehimhis('him')"></span> that you saw the request.
                                            <div class="clearfix"></div>
                                            <hr class="">
                                            <div class="btn-group pull-right">
                                                <button type="button" class="btn btn-success" data-bind="click: OfferHelp">Sure, I Can Help!</button>
                                                <button type="button" class="btn btn-default" data-bind="click: DenyHelp">Sorry, I Can't</button>
                                            </div>
                                        </div>
                                        <div class="request_helpoffered" data-bind="if: Response() == 'yes'">
                                            You offered help to <span data-bind="text: $data.From.FirstName"></span>. <strong>Thank you!</strong> we will notify
                                            <span data-bind="text: $data.From.hehimhis('him')"></span> about it. if <span data-bind="text: $data.From.hehimhis('he')"></span>
                                            hasn't gotten help already,  <span data-bind="text: $data.From.hehimhis('he')"></span> will accept your request and get back to you.
                                            <div class="clearfix"></div>
                                            <hr class="">
                                        </div>
                                        <div class="request_helpdenied" data-bind="if: Response() == 'no'">
                                            You said you couldnt help <span data-bind="text: $data.From.FirstName"></span>. <strong>Don't worry!</strong>
                                            We won't tell <span data-bind="text: $data.From.hehimhis('him')"></span> that you saw the request.
                                            <div class="clearfix"></div>
                                            <hr class="">
                                        </div>
                                    </div>
                                </div>
                            </div><!-- /InboxDetails -->
                        </div>
                    </div>

                    <div id="outbox" class="karmapannel" data-bind="if: activePannel() === 'outbox'">
                        <h1 class="">outbox</h1>
                        <div class="row" data-bind="with: MyOutbox">
                            <!--Outbox-->
                            <div class="col-sm-12">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="" data-bind="text: PanelHeader">Inbox:</h4>
                                    </div>
                                    <div class="panel-body">
                                        <div class="list-group" data-bind="foreach: Items">
                                            <a href="#" class="outboxListContainer list-group-item" data-bind="css: { active: $parent.SelectedItem() == $data}, click: function(data,event) { $parent.ExpandItem(data, $element, '.outbox-details')}">
                                                <p class="list-group-item-text"><span class="glyphicon glyphicon-chevron-down pull-right"></span></p>
                                                <h4 class="list-group-item-heading" data-bind="text: Name"></h4>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div> <!--/outbox-->

                            <div class="outbox-details">
                                <!-- OutboxDetails -->
                                <div class="panel panel-default" data-bind="with: SelectedItem()">
                                    <div class="panel-body">
                                        <!-- people who offered help -->
                                        <div data-bind="if: helpOffered.length > 0">
                                            <div data-bind="foreach: helpOffered">
                                                <div data-bind="if: $index() !== 0">
                                                    <hr class=""> <!-- divider after each element except 1st -->
                                                </div>
                                                <div data-bind="if: Response() == 'none'">
                                                    <div class="clearfix"></div>
                                                    <img data-bind="attr:{src: From.Pic}">
                                                    <span data-bind="text: From.Name"> </span> has offered Help!
                                                    <div class="btn-group pull-right">
                                                        <button type="button" class="btn btn-success" data-bind="click: AcceptHelp">Accept Help!</button>
                                                        <button type="button" class="btn btn-default" data-bind="click: IgnoreHelp">Ignore</button>
                                                    </div>
                                                </div>
                                                <div data-bind="if: Response() == 'yes'">
                                                    <img data-bind="attr:{src: From.Pic}">
                                                    You <strong>accepted</strong> help offer from <span data-bind="text: From.FirstName"> </span>!
                                                </div>
                                                <div data-bind="if: Response() == 'no'">
                                                    <div class="clearfix"></div>
                                                    <img data-bind="attr:{src: From.Pic}">
                                                    You <strong>ignored</strong> help offer from <span data-bind="text: From.FirstName"> </span>!
                                                </div>
                                            </div>
                                        </div>

                                        <!-- nobody offered help-->
                                        <div data-bind="if: helpOffered.length == 0">

                                            <hr class="">
                                            Your request is in transit. Please be patient, and check back later. We will send
                                            your request to your friends one by one. When somebody offers help we will notify
                                            you.
                                            <hr class="">

                                        </div>
                                    </div>
                                </div><!-- /InboxDetails -->
                            </div>
                        </div> <!-- outbox row-->
                    </div>
                </div>
                <!-- /main area-->
            </div>
        </div>
        <!--/.container-->
    </div>
    <!--/.page-container-->
    <div id="push" class=""></div>

</body>
</html>
