<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Karma Mobile!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" rel="stylesheet">
    <script type='text/javascript' src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.9.1.min.js"></script>
    <script type='text/javascript' src="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
    <script type='text/javascript' src='http://ajax.aspnetcdn.com/ajax/knockout/knockout-3.0.0.js'></script>

    <!-- ticker -->
    <script type='text/javascript' src='../../Scripts/app/textticker.js'></script>


    <!--
    @if (Model.useMock)
    {
        <script type='text/javascript' src='../../Scripts/jquery.mockjax.js'></script>
        <script type='text/javascript' src='../../Scripts/app/mockdata.js'></script>

        <script>
            var username = "@Model.name";
            var userpic = "@Model.pictureUrl";
        </script>
    } 
    -->

    <!-- these lines are commented out in real cshtml and the block above is enabled.-->
    <script type='text/javascript' src='../../Scripts/jquery.mockjax.js'></script>
    <script type='text/javascript' src='../../Scripts/app/mockdata.js'></script>
    <script>
        var username = "Mock";
        var userpic = "https://fbcdn-profile-a.akamaihd.net/hprofile-ak-ash2/274191_628825055_1428018580_q.jpg";
    </script>
    
    <link rel="stylesheet" type="text/css" href="../../Content/app/appstyle.css">
    <script type='text/javascript' src='../../Scripts/app/appscript.js'></script>
    
<script>
    $(document).ready(function () {

        // setup textticker.
        applyTicker("textticker", [
            "a ride to airport this tuesday.     ",
            "to borrow some powertools for my weekend project.    ",
            "help feeding my cat for a day while I am gone.    ",
            "to borrow latest John Grisham book.   ",
            "help moving my stuff tommorrow.    "
        ]);

        $('[data-toggle=offcanvas]').click(function () {
            $('.row-offcanvas').toggleClass('active');
        });

        $('.btn-toggle').click(function () {
            $(this).find('.btn').toggleClass('active').toggleClass('btn-default').toggleClass('btn-primary');
        });

        SetupKnockOut(username, userpic);

    });
</script>
</head>

<body>

    <!--page-container-->
    <div class="page-container">
        <!-- top navbar -->
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target=".sidebar-nav">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href=" #">KarmaWeb</a>
            </div>
        </div> 
        <!-- /top navbar -->
        <!--.container-->
        <div class="col-sm-12">
            <div class="row row-offcanvas row-offcanvas-left">
                <!-- sidebar -->
                <div class="col-xs-4 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
                    <div data-spy="affix" data-offset-top="45" data-offset-bottom="90" class="">
                        <ul class="nav" id="sidebar-nav">
                            <li> <a href="#you" class="">you</a> </li>
                            <li> <a href="#friends" class=""><span class="badge pull-right" data-bind="text: friends().length">0</span>friends</a> </li>
                            <li> <a href="#inbox" class=""><span class="badge pull-right" data-bind="text: inbox().length">0</span>inbox</a> </li>
                            <li> <a href="#outbox" class=""><span class="badge pull-right" data-bind="text: outbox().length">0</span>outbox</a> </li>
                            <li> <a href="#settings" class="">settings</a> </li>
                        </ul>
                    </div>
                </div>
                <!-- /sidebar -->

                <!-- main area -->
                <div class="col-xs-12 col-sm-9" data-spy="scroll" data-target="#sidebar-nav">

                    <!-- ask your friends for help pannel-->
                    <h1 id="you" class="">you</h1>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <img data-bind="attr:{src: pictureUrl}">
                            <div data-bind="if: requestOnPage() == 1">
                                <h4 class="">You got Friends <span data-bind="text: personName + '!'">!</span></h4>
                            </div>
                            <div data-bind="if: requestOnPage() == 2">
                                <h4 class="">You need <span data-bind="text: requestText()">!</span></h4>
                            </div>
                        </div>
                        <div data-bind="if: requestOnPage() == 1">
                            <div class="panel-body">
                                Everybody needs help and friends love to help each other. Karmaweb makes exchanging favors easy! It will contact
                                your local <strong>karma friends</strong> and find somebody who can help. Don't worry we hate spam too. We won't
                                post on facebook or send emails to your friends. Just type in what you need...
                                <!--<form class="form">-->
                                <div class="input-group text-center">
                                    <span class="input-group-addon">I Need</span>
                                    <input id="textticker" type="text" class="form-control input-lg" title="Don't worry. We hate spam, we wont post on facebook."
                                           placeholder="enter what you need..." data-bind="value: requestText">
                                </div>
                                <hr class="">

                                <div data-bind="if: showRequestError()">
                                    <span class="label label-warning"> Are you kidding me...at least type sometime ?</span>
                                </div>
                                <button class="btn btn-lg btn-primary pull-right" data-bind="click: GotoNextPage" type="button">
                                    Next <span class="glyphicon glyphicon-chevron-right"></span>
                                </button>
                            </div>
                        </div>
                        <div data-bind="if: requestOnPage() == 2">
                            <div class="panel-body">
                                <div class="form-group">
                                    <label for="request_datetime">When do you need this help:</label>
                                    <input id="request_datetime" type="text" class="form-control input-lg" title="Your friends would like know about date/time"
                                           placeholder="enter date" data-bind="value: requestDateTime">
                                </div>
                                <div class="form-group">
                                    <label for="request_location">Where do you need this help:</label>
                                    <input id="request_location" type="text" class="form-control input-lg" title="we will notify only friends closer to this location"
                                           placeholder="enter city,state. we will notify only friends living closer to this location" data-bind="value: request_location">
                                </div>
                                <hr class="">
                                <button class="btn btn-default pull-left" data-bind="click: UseCurrentLocation" type="button">
                                    User current location
                                </button>

                                <div class="btn-group pull-right">
                                    <button class="btn btn-lg btn-default" data-bind="click: GotoPrevPage" type="button">
                                        <span class="glyphicon glyphicon-chevron-left"></span> Previous
                                    </button>
                                    <button class="btn btn-lg btn-primary" data-bind="click: CreateRequest" type="button">
                                        Submit
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <h1 id="friends" class="">friends</h1>
                    <div class="row">
                        <div class="col-sm-6">
                            <!-- Friends List -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <a href="#" class="pull-right">refresh</a>
                                    <h4 class="" data-bind="text: friendsPanelHeader">Friends List:</h4>
                                </div>
                                <div class="panel-body" data-bind="if: friends().length > 0">
                                    <div class="list-group" data-bind="foreach: friends">
                                        <a href="#" class="friendinListContainer list-group-item" data-bind="css: { active: $parent.selectedfriend() == $data}, click: $parent.selectfriend.bind($parent)">
                                            <div style="float:left;padding-right:10px">
                                                <img style="float:left" class="img-polaroid" data-bind="attr:{src: pic}">
                                            </div>
                                            <h4 class="list-group-item-heading" data-bind="text: name"></h4>
                                            <p class="list-group-item-text">...</p>
                                        </a>
                                    </div>
                                </div>
                                <div class="panel-body" data-bind="if: friends().length == 0">
                                    Sorry, none of your friends have joined KarmaWeb. KarmaWeb is a network of friends for helping each other. 
                                    You can help yourself and your friends by inviting them to KarmaWeb. They will be glad you did!
                                    <div class="input-group text-center">
                                        <span class="input-group-addon">I Need</span>
                                        <textarea id="inviteFriends" class="form-control input-lg" title="Don't worry. We hate spam, we wont post on facebook."
                                               placeholder="Hello friends, Please join karmaweb.!" data-bind="value: inviteText"></textarea>
                                    </div>
                                    <hr class="">
                                    <button class="btn btn-lg btn-success pull-right" data-bind="click: InviteFriends" type="button">Invite</button>
                                </div>

                            </div>

                        </div>
                        <div class="col-sm-6">
                            <!-- Friends Details -->
                            <div class="panel panel-default" data-bind="if: selectedfriend()">
                                <div class="panel-heading">
                                    <a href="#" class="pull-right">View all</a>
                                    <h4 class="" data-bind="text: selectedfriend().name">Friends Details</h4>
                                </div>
                                <div class="panel-body">
                                    <p class="">
                                        <img class="img-polaroid pull-left" data-bind="attr:{src: selectedfriend().pic}">
                                    </p>
                                    <div class="clearfix"></div>
                                    <div class="realFriend" data-bind="ifnot: selectedfriend().blocked">
                                        <hr class="">
                                        if <span data-bind="text: $root.firstName(selectedfriend())"></span> is not really a "friend", you can block <span data-bind="text: $root.hehimhis(selectedfriend(), 'him')"></span>.
                                        Once blocked <span data-bind="text: $root.hehimhis(selectedfriend(), 'he')"></span> will not see any help requests from you and you will not
                                        see any requests from <span data-bind="text: $root.hehimhis(selectedfriend(), 'him')"></span>. And don't worry we won't tell on you. 
                                        <span data-bind="text: $root.hehimhis(selectedfriend(), 'He')"></span> won't know  that you blocked <span data-bind="text: $root.hehimhis(selectedfriend(), 'him')"></span>.
                                        <hr class="">
                                        <div class="btn-group pull-right">
                                            <button class="btn btn-warning" data-bind="click: BlockSelectedFriend">Block <span data-bind="text: $root.firstName(selectedfriend())"></span></button>
                                        </div>
                                    </div>
                                    <div class="blockedFriend" data-bind="if: selectedfriend().blocked">
                                        <hr class="">
                                        You have blocked <span data-bind="text: $root.firstName(selectedfriend())"></span>. that means you will not see any help
                                        requests from <span data-bind="text: $root.hehimhis(selectedfriend(), 'him')"></span> nor will 
                                        <span data-bind="text: $root.hehimhis(selectedfriend(), 'he')"></span> see any of your help requests. if you change your mind
                                        you can unblock <span data-bind="text: $root.hehimhis(selectedfriend(), 'him')"></span> anytime!
                                        <hr class="">
                                        <div class="btn-group pull-right">
                                            <button class="btn btn-success" data-bind="click: UnBlockSelectedFriend">UnBlock <span data-bind="text: $root.firstName(selectedfriend())"></span></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <h1 id="inbox" class="">inbox</h1>
                    <div class="row">
                        <!--Inbox-->
                        <div class="col-sm-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <a href="#" class="pull-right">Refresh</a>
                                    <h4 class="" data-bind="text: inboxPanelHeader">Inbox:</h4>
                                </div>
                                <div class="panel-body">
                                    <div class="list-group" data-bind="foreach: inbox">
                                        <a href="#" class="inboxListContainer list-group-item" data-bind="css: { active: $parent.selectedinbox() == $data}, click: $parent.selectInboxItem.bind($parent)">
                                            <div style="float:left;padding-right:10px">
                                                <img class="img-polaroid" data-bind="attr:{src: from.pic}">
                                            </div>
                                            <p class="list-group-item-text" data-bind="text: from.name">...</p>
                                            <h4 class="list-group-item-heading" data-bind="text: request.name"></h4>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div> <!--/Inbox-->

                        <div class="col-sm-6">
                            <!-- InboxDetails -->
                            <div class="panel panel-default" data-bind="if: selectedinbox()">
                                <div class="panel-heading">
                                    <a href="#" class="pull-right">View all</a>
                                    <h4 class="" data-bind="text: selectedinbox().from.name">Inbox Details</h4>
                                </div>
                                <div class="panel-body">
                                    <div style="float:left;padding-right:10px">
                                        <img class="img-polaroid pull-left" data-bind="attr:{src: selectedinbox().from.pic}">

                                    </div>
                                    <h4 class="list-group-item-heading" data-bind="text: selectedinbox().request.name"></h4>
                                    <div class="clearfix"></div>

                                    <hr class="">This is your chance to help <span data-bind="text: $root.firstName(selectedinbox().from)"></span>. if you choose to help, we will notify
                                    <span data-bind="text: $root.hehimhis(selectedinbox().from, 'him')"></span> about it. if <span data-bind="text: $root.hehimhis(selectedinbox().from, 'he')"></span> 
                                    hasn't gotten help already,  <span data-bind="text: $root.hehimhis(selectedinbox().from, 'he')"></span> will accept your request and get back to you.
                                    if you choose to not help. its okay! We won't tell <span data-bind="text: $root.hehimhis(selectedinbox().from, 'him')"></span> that you saw the request.
                                    <div class="clearfix"></div>
                                    <hr class="">
                                    <span>
                                        <button type="button" class="btn btn-success btn-lg btn-block">Sure, I Can Help!</button>
                                        <button type="button" class="btn btn-default btn-lg btn-block">Sorry, Cant help this time</button>
                                    </span>
                                </div>
                            </div>
                        </div><!-- /InboxDetails -->

                    </div>

                    <h1 id="outbox" class="">outbox</h1>
                    <div class="row">
                        <!--Outbox-->
                        <div class="col-sm-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <a href="#" class="pull-right">Refresh</a>
                                    <h4 class="" data-bind="text: outboxPanelHeader">Inbox:</h4>
                                </div>
                                <div class="panel-body">
                                    <div class="list-group" data-bind="foreach: outbox">
                                        <a href="#" class="inboxListContainer list-group-item" data-bind="css: { active: $parent.selectedoutbox() == $data}, click: $parent.selectOutboxItem.bind($parent)">
                                            <h4 class="list-group-item-heading" data-bind="text: name"></h4>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div> <!--/outbox-->

                        <div class="col-sm-6">
                            <!-- OutboxDetails -->
                            <div class="panel panel-default" data-bind="if: selectedoutbox()">
                                <div class="panel-heading">
                                    <a href="#" class="pull-right">Refresh</a>
                                    <h4 class="" data-bind="text: selectedoutbox().name">Need a Ride</h4>
                                </div>
                                <div class="panel-body">
                                    <div style="float:left;padding-right:10px">
                                        <img class="img-polaroid pull-left" data-bind="attr:{src: pictureUrl}">
                                    </div>
                                    <h4 class="list-group-item-heading" data-bind="text: 'You:' + selectedoutbox().name"></h4>
                                    <div class="clearfix"></div>


                                    <div data-bind="if: selectedoutbox()">

                                        <!-- people who offered help -->
                                        <div data-bind="if: selectedoutbox().helpOffered.length > 0">
                                            <div data-bind="foreach: selectedoutbox().helpOffered">
                                                <div>
                                                    <div class="clearfix"></div>
                                                    <hr class="">
                                                    <img data-bind="attr:{src: pic}">
                                                    <span data-bind="text: name"> </span> has offered Help!
                                                    <div class="btn-group pull-right">
                                                        <button type="button" class="btn btn-success btn-lg ">Accept Help!</button>
                                                        <button type="button" class="btn btn-default btn-lg ">Ignore</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- nobody offered help-->
                                        <div data-bind="if: selectedoutbox().helpOffered.length == 0">

                                            <hr class="">
                                            Your request is in transit. Please be patient, and check back later. We will send
                                            your request to your friends one by one. When somebody offers help we will notify
                                            you.
                                            <hr class="">

                                        </div>
                                    </div>
                                </div>
                            </div><!-- /InboxDetails -->

                        </div>
                    </div> <!-- outbox row-->

                    <h1 id="settings" class="">Settings</h1>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="alert alert-info alert-dismissable" style="display: none;">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">├ù</button>
                                <strong class="">Heads up!</strong> This alert needs your attention,
                                but it's not super important.
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <a href="#" class="pull-right">View all</a>
                                    <h4 class="">Buttons &amp; Labels</h4>
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-xs-4">
                                            <a class="btn btn-default center-block" href="#">Button</a>
                                        </div>
                                        <div class="col-xs-4">
                                            <a class="btn btn-primary center-block" href="#">Primary</a>
                                        </div>
                                        <div class="col-xs-4">
                                            <a class="btn btn-danger center-block" href="#">Danger</a>
                                        </div>
                                    </div>
                                    <br class="">
                                    <div class="row">
                                        <div class="col-xs-4">
                                            <a class="btn btn-warning center-block" href="#">Warning</a>
                                        </div>
                                        <div class="col-xs-4">
                                            <a class="btn btn-info center-block" href="#">Info</a>
                                        </div>
                                        <div class="col-xs-4">
                                            <a class="btn btn-success center-block" href="#">Success</a>
                                        </div>
                                    </div>
                                    <hr class="">
                                    <div class="btn-group btn-group-sm">
                                        <button class="btn btn-default">1</button>
                                        <button class="btn btn-default">2</button>
                                        <button class="btn btn-default">3</button>
                                    </div>
                                    <hr class="">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <span class="label label-default">Label</span>
                                            <span class="label label-success">Success</span>
                                        </div>
                                        <div class="col-md-4">
                                            <span class="label label-warning">Warning</span>
                                            <span class="label label-info">Info</span>
                                        </div>
                                        <div class="col-md-4">
                                            <span class="label label-danger">Danger</span>
                                            <span class="label label-primary">Primary</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <a href="#" class="pull-right">View all</a>
                                    <h4 class="">Progress Bars</h4>
                                </div>
                                <div class="panel-body">
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-info" style="width: 20%"></div>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-success" style="width: 40%"></div>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-warning" style="width: 80%"></div>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-danger" style="width: 50%"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <a href="#" class="pull-right">View all</a>
                                    <h4 class="">Tabs</h4>
                                </div>
                                <div class="panel-body">
                                    <ul class="nav nav-tabs">
                                        <li class="active">
                                            <a href="#A" data-toggle="tab" class="">Section 1</a>
                                        </li>
                                        <li>
                                            <a href="#B" data-toggle="tab" class="">Section 2</a>
                                        </li>
                                        <li>
                                            <a href="#C" data-toggle="tab" class="">Section 3</a>
                                        </li>
                                    </ul>
                                    <div class="tabbable">
                                        <div class="tab-content">
                                            <div class="tab-pane active" id="A">
                                                <div class="well well-sm">I'm in Section A.</div>
                                            </div>
                                            <div class="tab-pane" id="B">
                                                <div class="well well-sm">Howdy, I'm in Section B.</div>
                                            </div>
                                            <div class="tab-pane" id="C">
                                                <div class="well well-sm">I've decided that I like wells.</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--playground-->
                        <br class="">
                        <div class="clearfix"></div>
                        <hr class="">
                        <hr class="">
                    </div>
                    <!-- /.col-xs-12 main -->
                </div>
                <!-- /main area-->

                </div>
        </div>
        <!--/.container-->
    </div>
    <!--/.page-container-->
    <div id="push" class=""></div>

</body>
</html>
